*{
    padding:0px ;
    margin: 0px;
}
.menu-contain{
    background-color: rgb(130, 192, 50);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    height: 50px;
    list-style: none;
    align-items: center;
    
}
.logo-photo{
    width: 150px;
    margin: 10px;
}
.menu-list{
    display: flex;
    margin: 10px; 

}
.item{
    margin-right: 15px;
    padding-right: 30px;
    font-size: 20px;

}
.item a{
    text-decoration: none;
}
.item:hover{
    color: white;
}
.banner-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url('/image/pngtree-background.jpg'),
    linear-gradient(45deg,rgb(196, 166, 166),rgb(198, 230, 16));
    background-size: cover;
    color: white;
    background-position: center;
    background-repeat: no-repeat;

}
.font{
    font-size: 50px;
    font-weight: bold;
    color: aqua;
}
.sp{
    color: red;
}
.span-p{
    color: rgb(245, 241, 15);
}
.par{
    margin-top: 10px;
    margin-bottom: 10px;
   

}
.btn{
    padding: 15px;
    background-color: red;
    color: rgb(244, 243, 247);
    border: none;
    cursor: pointer;
}