nav {
  display: flex;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.nav-tile {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.text-color {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 51px;
}
